<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.edwardquixote.Chaward.kcaapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_kca_logo"
        android:label="@string/app_name"
        android:theme="@style/CustomMaterialTheme1" >
        <activity
            android:name=".KCAHomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KCASignUpActivity"
            android:label="@string/title_activity_kcasign_up" >
        </activity>
        <activity
            android:name=".KCASignInActivity"
            android:label="@string/title_activity_kcasign_in" >
        </activity>
        <activity
            android:name=".KCATimetableActivity"
            android:label="@string/title_activity_kcatimetable"
            android:parentActivityName=".KCAHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.edwardquixote.Chaward.kcaapp.KCAHomeActivity" />
        </activity>
    </application>

</manifest>
